<div class="row mb-4 yard">
    <div class="col-md-5">
        <h2>
            <a href="/yard/{{id}}">{{user.fname}} {{user.lname}}'s Yard</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img id="yardpic" class="thumbnails" src="/img/yard4.jpg" alt="EXPLAINATION">
        <p style="font-weight: bolder;">Owned by {{user.fname}} {{user.lname}}</p>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <p>
            <span style="font-weight: bolder;"> Address: </span> {{address}}
            <span style="font-weight: bolder;"> City: </span> {{city}}
            <span style="font-weight: bolder;"> State: </span> {{state}}
            <span style="font-weight: bolder;"> ZIP: </span> {{zip}}
        </p>
    </div>
</div>