<div class="row mb-4 yard">
    <div class="col-md-5">
        <h2>
            <a href="/yard/{{id}}">{{user.fname}} {{user.lname}}'s Yard</a>
        </h2>
        <p>Owned by {{user.fname}} {{user.lname}}</p>
    </div>
    <div class="col-md-7">
        <p>
            Address: {{address}}
            City: {{city}}
            State: {{state}}
            ZIP: {{zip}}
        </p>
    </div>
</div>